@model IEnumerable<DavetiyeApiUi.Models.Davetiye>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Kişi Ekle</a>
	<a asp-action="True" class="btn btn-secondary">Katılan Kişiler</a>
</p>
<table class="table table-success">
	<thead>
		<tr class="table table-primary">
			<th>
				@Html.DisplayNameFor(model => model.id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.isim)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.gelmeDurumu)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.isim)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.gelmeDurumu)
				</td>
				<td> <a href="/Home/Details/@item.id" class="btn btn-primary">Detay</a></td>
				<td> <a href="/Home/Edit/@item.id" class="btn btn-warning">Güncelle</a></td>
			</tr>
		}
	</tbody>
</table>
