@model IEnumerable<DavetiyeApiUi.Models.Davetiye>

@{
    ViewData["Title"] = "True";
}

<table class="table table-success">
    <thead>
        <tr class="table table-primary">
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
	<a asp-action="Index" class="btn btn-primary">Listeye Geri Dön</a>
</div>
